<div fxLayout="row" fxLayoutAlign="start">
    <button mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button (click)="onColor(noteColor)" [matMenuTriggerFor]="color">
        <mat-icon>color_lens</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>image</mat-icon>
    </button>
    <button mat-icon-button (click)="onArchive()">
        <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon [matMenuTriggerFor]="more_option">more_vert</mat-icon>
    </button>
</div>

<mat-menu #color="matMenu" [overlapTrigger]="false">
    <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 3px;" *ngFor="let color of colors">
        <div *ngFor="let noteColor of color">
            <button [ngStyle]="{'background-color':noteColor.colorCode }" (click)="onColor(noteColor.colorName)"
                matTooltip="{{ noteColor.colorName }}" mat-mini-fab></button>
        </div>
    </div>
</mat-menu>

<mat-menu #more_options="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onTrash()">
        <span>Delete Note</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="labelTrigger">
        <span>Add Label</span>
    </button>
</mat-menu>

<div>
    <mat-menu #labelTrigger="matMenu">
        <div>Label note</div>
        <div *ngFor="let labels of labelsList">
            <mat-checkbox class="addlabel" (click)="addLabeltoNote(labels)">
                {{labels.labelName}}
            </mat-checkbox>
        </div>
    </mat-menu>
</div>