<div class="main" fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="maincard">
        <div fxLayout="column" fxLayoutAlign="center center">
            <div>
                <mat-card-title>
                    <h2>FundooNotes</h2>
                </mat-card-title>

                <mat-card-subtitle>
                    Reset Password
                </mat-card-subtitle>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="password" [formControl]="password" [(ngModel)]="this.password"
                        [type]="hide ? 'password':'text'">
                    <mat-error *ngIf="email.invalid">Please enter valid password</mat-error>
                    <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="confirm password" [formControl]="password"
                        [(ngModel)]="this.confirmPassword" [type]="hide ? 'password' : 'text'">
                    <mat-error *ngIf="email.invalid">please enter valid password!!!</mat-error>
                    <mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="spcace-between center">
                <button style="margin-right: 45px" mat-flat-button color="primary" (click)="onReset()">submit</button>
                <button style="margin-left: 44px" mat-flat-button color="primary" routerLink="/register">clear</button>
            </div>
        </div>
    </mat-card>
</div>