<!--Dashboard Model-->
<div>
  <mat-toolbar>
    <mat-toolbar-row>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxLayoutGap="5px">
        <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png">
        <!-- <mat-icon matListIcon><img src="../../assets/icon/trash.svg"></mat-icon> -->
      </div>
      <div fxLayoutGap="5px">
        <h3>FundooNotes</h3>
      </div>

      <div class="search" fxLayout="row" fxLayoutGap="50px">
        <mat-form-field appearance="outline" style="font-size: 12px; width: 540px;">
          <mat-icon matPreffix style="font-size: 25px;">search</mat-icon>
          <input matInput placeholder="Search">
        </mat-form-field>
      </div>

      <div fxlayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">

        <div fxLayoutGap="7px">
          <button mat-icon-button>
            <mat-icon matTooltip="refresh">
              refresh
            </mat-icon>
          </button>
        </div>

        <div fxLayoutGap="7px">
          <button mat-icon-button>
            <mat-icon>
              view_agenda
            </mat-icon>
          </button>
        </div>

        <div fxLayoutGap="7px">
          <button mat-icon-button>
            <mat-icon>
              settings
            </mat-icon>
          </button>
        </div>

        <div fxLayoutGap="7px">
          <button mat-icon-button>
            <mat-icon>
              apps
            </mat-icon>
          </button>
        </div>

        <div fxLayoutGap="7px">
          <button mat-icon-button>
            <mat-icon>
              account_circle
            </mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" autosize>
    <div fxlayout="column" fxLayoutAlign="center center">
      <mat-list>
        <mat-list-item>
          <div>
            <button mat-icon-button>
              <mat-icon>lightbulb_outline</mat-icon>
              <mat-label>Notes</mat-label>
            </button>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div>
            <button mat-icon-button>
              <mat-icon>notifications_none</mat-icon>
              <mat-label>Reminders</mat-label>
            </button>
          </div>
        </mat-list-item>

        <mat-divider></mat-divider>
        <h5>LABELS</h5>
        <!--This section should show the labels -->

        <mat-list-item>
          <div>
            <button mat-icon-button>

              <mat-icon>edit</mat-icon>
              <mat-label>Edit Label</mat-label>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <div>
            <button mat-icon-button>
              <mat-icon>archive</mat-icon>
              <mat-label>Archive</mat-label>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <div>
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
              <mat-label>Trash</mat-label>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <div class="search" fxLayout="row" fxLayoutAlign="center center">
    <mat-card appearance="outline" style="font-size: 17px; width: 600px;">
      <!--Try to make as Keep-->
      <mat-card-actions>
        <input matInput placeholder="Take a note...">
        <!-- Put this icons inline-->
        <mat-icon matSuffix style="font-size: 25px;">check_box</mat-icon>
        <mat-icon matSuffix style="font-size: 25px;">insert_photo</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>

</mat-drawer-container>