<div fxLayout="row" fxLayoutAlign="start">
    <button style="margin-top: -23px; margin-left: -23px;" mat-icon-button>
        <mat-icon [matMenuTriggerFor]="more_option">more_vert</mat-icon>
    </button>
</div>

<div>
    <mat-menu #more_option>
        <button mat-icon mat-flat-button (click)="onDelete()">Delete forever</button>
        <br>
        <button mat-icon mat-flat-button (click)="onRestore()">Restore</button>
    </mat-menu>
</div>
<!--
    convert intpo icons use this design in refrence to archive
-->