<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20%">

  <mat-toolbar>
    <div fxFlex="100">

      <div fxLayout="row" fxFlex="15" fxLayoutGap="25%">
        <div fxFlex="5">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon matTooltip="menu">menu</mat-icon>
          </button>
        </div>

        <div fxFlex="5">
          <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png">
        </div>

        <div class="fundoo" fxFlex="5">
          <span style="margin-right: 8px;">Fundoo Notes</span>
        </div>
      </div>

      <div fxFlex="70" fxLayout="row">

        <mat-card class="search-bar">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>

          <input class="search" (input)="onSearch($event.target.value)" matInput placeholder="Search"
            style="width: 450px;" autocomplete="off">
        </mat-card>
      </div>

      <div fxFlex="35" fxLayout="row" fxLayoutGroup="12%" style="margin-left: 100px; margin-top: 8px;">
        <div fxFlex="14">
          <button mat-icon-button>
            <mat-icon matTooltip="Refresh">refresh</mat-icon>
          </button>
        </div>

        <div fxFlex="14">
          <button mat-icon-button>
            <mat-icon matTooltip="Grid_view">view_agenda</mat-icon>
          </button>
        </div>

        <div fxFlex="14">
          <button mat-icon-button>
            <mat-icon matTooltip="settings">settings</mat-icon>
          </button>
        </div>

        <div fxFlex="14">
          <button mat-icon-button>
            <mat-icon matTooltip="app">apps</mat-icon>
          </button>
        </div>

        <div fxFlex="14">
          <button mat-icon-button (click)="Profile()">
            <mat-icon matTooltip="account" [matMenuTriggerFor]="more_option">account_circle</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </mat-toolbar>
</div>

<div>
  <hr style="margin-top: 0px;">
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" class="mat-sidenav">
    <mat-nav-list class="navigationlist">
      <mat-list>
        <div>
          <button style="width: 238px; border-radius: 20px" mat-button (click)="getNotes()">
            <mat-icon style="padding-right: 138px">lightbulb_outline</mat-icon>
            <span style="margin-right: 125px; margin-left: -106px;">Notes</span>
          </button>
        </div>

        <div>
          <button mat-button style="width: 238px; border-radius: 20px;" (click)="onReminder()">
            <mat-icon style="padding-right: 108px">notifications_none</mat-icon>
            <span style="margin-right: 80px; margin-left: -76px">Reminders</span>
          </button>
          <hr>
        </div>

        <div style="padding-left: 27px">
          <span>
            <h5>LABELS</h5>
          </span>
        </div>

        <div>
          <button mat-button style="border-radius: 54px; width: 239px;" (click)="onEditLabel()">
            <mat-icon style="padding-right: 94px;">edit</mat-icon>
            <span style="margin-right: 84px; margin-left: -62px;">Edit Lables</span>
          </button>
        </div>

        <hr>
        <div>
          <button mat-button style="border-radius: 20px; width: 239px;" (click)="onArchive()">
            <mat-icon style="padding-right: 134px;">archive</mat-icon>
            <span style="margin-right: 104px; margin-left: -96px;">Archive</span>
          </button>
        </div>

        <div>
          <button mat-button style="border-radius: 20px; width: 239px" (click)="onDelete()">
            <mat-icon style="padding-right: 162px;">delete</mat-icon>
            <span style="margin-right: 135px; margin-left: -122px;">Trash</span>
          </button>
        </div>

      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
 
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
    <!--Create note component -->
  </mat-sidenav-content>


</mat-sidenav-container>
<div>
  <mat-menu #more_option>
    <button mat-icon mat-flat-button color="primary" (click)="onLogout()" class="button">Logout</button>
  </mat-menu>
</div>