<div>
  <mat-toolbar>
    <mat-toolbar-row>
  
      <div>
        <button mat-button (click)="drawer.toggle()">
          <mat-icon>reorder</mat-icon>
        </button>
      </div>
      &nbsp;
      <span class="fill-remaining-space"></span>

      <p class="search">
        <mat-form-field appearance="outline" style="font-size: 12px; width: 540px;">
          <mat-icon matPreffix style="font-size: 25px;">search</mat-icon>
          <input matInput placeholder="Search">
        </mat-form-field>
      </p>

      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>
      <span class="fill-remaining-space"></span>



      <div>
        <button mat-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </div>

      <div>
        <button mat-button>
          <mat-icon>view_module</mat-icon>
        </button>
      </div>

      <div>
        <button mat-button>
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <div>
        <button mat-button>
          <mat-icon>apps</mat-icon>
        </button>
      </div>

      <div>
        <button mat-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="search" fxLayout="row" fxLayoutAlign="center center">
  <mat-card appearance="outline" style="font-size: 17px; width: 600px;">

    <mat-card-actions>
      <input matInput placeholder="Take a note...">
      <mat-icon matSuffix style="font-size: 25px;">check_box</mat-icon>
      <mat-icon matSuffix style="font-size: 25px;">insert_photo</mat-icon>
    </mat-card-actions>




  </mat-card>
</div>