<div class="main" fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="maincard" style="height: 65vh; width: 257px;">
                <div fxLayout="column" fxLayoutAlign="space-between center">
                        <div>
                                <mat-card-title>
                                        <h3>FundooNotes</h3>
                                </mat-card-title>
                                <mat-card-subtitle>
                                        <h1>PDFToNote</h1>
                                </mat-card-subtitle>
                        </div>
                        <div>
                                <mat-form-field appearance="outline">
                                        <mat-label>FileName</mat-label>
                                        <input matInput placeholder="file name if you want" [formControl]="fileName">
                                        <!-- <input matInput placeholder="filename if you want" [formControl]="fileName"
                                                [(ngModel)]="this.fileName"> -->
                                        <mat-error *ngIf="fileName.invalid">please enter valid filename</mat-error>
                                        <mat-icon matSuffix>email</mat-icon>
                                </mat-form-field>


                        </div>

                        <div>
                                <button style="margin-right: 45px;" mat-flat-button color="primary"
                                        (click)="onPdfToNote()">create</button>
                                <!-- Think of something like cancel <button style="padding-left: 44px;" mat-flat-button
                                    routerLink="/register">register</button> -->
                        </div>
                </div>
        </mat-card>
</div>