<div fxLayout="column" fxLayoutAlign="center">

    <div fxlayout="row" fxLayoutAlign="center center" style="margin-top: 30px;">

        <mat-card fxlayout="row" fxlayoutAlign="center center" fxFlex="40" (click)="showBar()" *ngIf="!showAddNote"
            style="border-radius: px;">
            <input style="height: 10px" mat-input class="notes" placeholder="Take a note...">
        </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="60">

        <form [formGroup]="createForm">

            <mat-card fxLayout="column" fxLayoutAlign="start start" *ngIf="showAddNote" fxFlex="40" 
            class="maincard" style="max-width: 75%; width: 950px; margin-left: 445px;">
                <input mat-input class="title" placeholder="Title" formControlName="title">
                <input loginmat-input class="notes" placeholder="Description" formControlName="description">
                <div fxLayout="row" fxLayoutAlign="start center" class="icon" fxLayoutGap="25px">
                   <app-icons></app-icons>
                    <div fxLayout="end" fxFlex="20">
                        <button style="margin-left: 150px;" mat-button (click)="close()">close</button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
    <!-- Get all notes =>  -->
    <app-get-all-note>
    </app-get-all-note>
</div>