<div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="card">
                <div fxLayout="column" fxLayoutAlign="center start">
                        <mat-card-header>
                                <mat-card-title>FundooNotes</mat-card-title>
                                <mat-card-subtitle>Login</mat-card-subtitle>
                        </mat-card-header>

                        <div fxLayout="column" fxLayoutAlign="center center">
                                <mat-card-content>
                                        <mat-form-field appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="Enter email" [formControl]="email"
                                                        [(ngModel)]="login.email" required>
                                        </mat-form-field>

                                        <mat-form-field appearance="outline">
                                                <mat-label>Password</mat-label>
                                                <input matInput placeholder="Enter password" [formControl]="password"
                                                        [(ngModel)]="login.password" required>
                                        </mat-form-field>

                                </mat-card-content>
                        </div>

                        <mat-card-actions>
                                <button mat-raised-button (click)="onLogin()">Login</button>
                                <button mat-raised-button routerLink="/register">You are new to FundooNotes ..?</button>
                        </mat-card-actions>
                </div>

        </mat-card>
</div>