<h1>FundooNotes</h1>
<div class="container">
        <mat-label>Login</mat-label>

        <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter email ...">
        </mat-form-field>

        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter password ...">
        </mat-form-field>
</div>

<div class="button-row">
        <button mat-flat-button >Basic</button>
        <a mat-raised-button routerLink=".">You are new to FundooNotes ..?</a>
</div>