<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div>
                <mat-card-title>
                    <h2>FundooNotes</h2>
                </mat-card-title>
                <mat-card-subtitle>
                    <h1>Forgot Password</h1>
                </mat-card-subtitle>
            </div>

            <div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>email</mat-label>
                        <input matInput placeholder="Email" [formControl]="email">
                        <mat-error *ngIf="email.invalid">please enter valid email!!!</mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button style="margin-left: 158px" mat-flat-button color="primary" (click)="onForget()">forgot</button>
            </div>
        </div>
    </mat-card>
</div>